name: macOS Build

on:
  workflow_call:
    inputs:
      ring-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: macos-15-intel
          arch: amd64
          rust_target: x86_64-apple-darwin
        - os: macos-latest
          arch: arm64
          rust_target: aarch64-apple-darwin

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Clone Ring Language
      uses: actions/checkout@v4
      with:
        repository: ringpackages/ringsrc
        path: ring
        ref: ${{ inputs.ring-version }}

    - name: Build and Install Ring Language
      run: |
        cd ring/language
        cmake . -DCMAKE_BUILD_TYPE=Release
        make install

    - name: Set RING environment variable
      run: echo "RING=$(pwd)/ring" >> $GITHUB_ENV

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.rust_target }}

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: "src/rust_src -> target"

    - name: Build ring_slint Rust library
      run: cargo build --release --target ${{ matrix.rust_target }}
      working-directory: src/rust_src

    - name: Copy Rust artifacts to lib directory
      run: |
        mkdir -p lib/macos/${{ matrix.arch }}
        cp src/rust_src/target/${{ matrix.rust_target }}/release/libring_slint.dylib lib/macos/${{ matrix.arch }}/

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ring-slint-macos-${{ matrix.arch }}
        path: lib/macos/${{ matrix.arch }}/libring_slint.dylib
